# Build results
Bin/

# CMake generation data
Build/

# Visual Studio temp file after opening .rc files
*.aps

# Visual Studio cache/options directory
.vs/

# Intel profiler
**/VTune*

# Allow different external binary files
!External/*/Bin