[submodule "External/Assimp"]
	path = External/Assimp
	url = https://github.com/assimp/assimp
[submodule "External/FreeType"]
	path = External/FreeType
	url = https://gitlab.freedesktop.org/freetype/freetype
[submodule "External/DirectXMath"]
	path = External/DirectXMath
	url = https://github.com/microsoft/DirectXMath
[submodule "External/DirectXTex"]
	path = External/DirectXTex
	url = https://github.com/microsoft/DirectXTex
[submodule "External/ImGui"]
	path = External/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "External/EnTT"]
	path = External/EnTT
	url = https://github.com/skypjack/entt.git
[submodule "External/zlib"]
	path = External/zlib
	url = https://github.com/madler/zlib.git
[submodule "External/AGS"]
	path = External/AGS
	url = https://github.com/GPUOpen-LibrariesAndSDKs/AGS_SDK.git
[submodule "External/volk"]
	path = External/volk
	url = https://github.com/zeux/volk
	branch = sdk-1.3.250
[submodule "External/libpng"]
	path = External/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "External/HarfBuzz"]
	path = External/HarfBuzz
	url = https://github.com/harfbuzz/harfbuzz
[submodule "External/FidelityFXSDK"]
	path = External/FidelityFXSDK
	url = https://github.com/GPUOpen-LibrariesAndSDKs/FidelityFX-SDK.git
[submodule "External/DLSS"]
	path = External/DLSS
	url = https://github.com/NVIDIA/DLSS.git
[submodule "External/NvidiaImageScaling"]
	path = External/NvidiaImageScaling
	url = https://github.com/NVIDIAGameWorks/NVIDIAImageScaling.git
[submodule "External/libspng"]
	path = External/libspng
	url = https://github.com/randy408/libspng.git
[submodule "External/qoixx"]
	path = External/qoixx
	url = https://github.com/wx257osn2/qoixx.git
[submodule "External/XeSS"]
	path = External/XeSS
	url = https://github.com/intel/xess.git
[submodule "External/bzip2"]
	path = External/bzip2
	url = https://gitlab.com/bzip2/bzip2
[submodule "External/brotli"]
	path = External/brotli
	url = https://github.com/google/brotli
[submodule "External/FidelityFXSDK_Legacy"]
	path = External/FidelityFXSDK_Legacy
	url = https://github.com/medranSolus/FidelityFX-SDK-v1.1.4.git
[submodule "External/OpenAL"]
	path = External/OpenAL
	url = https://github.com/kcat/openal-soft.git
