[submodule "External/Assimp"]
	path = External/Assimp
	url = https://github.com/assimp/assimp
[submodule "External/FreeType"]
	path = External/FreeType
	url = https://gitlab.freedesktop.org/freetype/freetype
[submodule "External/DirectXMath"]
	path = External/DirectXMath
	url = https://github.com/microsoft/DirectXMath
[submodule "External/DirectXTex"]
	path = External/DirectXTex
	url = https://github.com/microsoft/DirectXTex
[submodule "External/ImGui"]
	path = External/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "External/EnTT"]
	path = External/EnTT
	url = https://github.com/skypjack/entt.git
